#
# Copyright (C) 2009-2012 Barchart, Inc. <http://www.barchart.com/>
#
# All rights reserved. Licensed under the OSI BSD License.
#
# http://www.opensource.org/licenses/bsd-license.php
#

#
# keep eclipse settings in repo
#
!/.cproject
!/.project
!/.classpath
!/.settings

#
# drop library exctract during test
#
/lib

#
# drop eclipse/maven build results 
#
/cdt_*
/bin
/target

#
# drop maven release config 
#
/release.properties
/pom.xml.*
