<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Barchart UDT</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="shortcut icon" href="favicon.png" />
	</head>
	<body id="top">
		<div id="content">
			{{content}}
			<script type="text/javascript">
			</script>
		</div>
		<div class="current-section">
			<p class="name"></p>
			<a href="#top">Scroll to top</a>
		</div>
	</body>
</html>
